.node {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    transition: 0.2s;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-end {
    background-color: red;
  }
  
  .node-wall {
    background-color: white;
  }

  .node-path {
    background-color: pink;
  }

  .node-visited {
    background-color: blue;
  }

.node:hover {
    box-shadow: 0px 0px 10px white;
    background-color: white;
    cursor: pointer;
}